src/**/*-mock.ts
src/api/__mocks__/*
src/**/*.spec.ts
package.json
tsconfig.json
tsconfig.spec.json
package-lock.json
.coveralls.yml
.editorconfig
.env
.env.example
.eslintignore
.eslintrc
.gitignore
.nvmrc
.travis.yml
gulpfile.js
jest.config.json
